

*{
    margin:0;
    padding:0;
}
.divLine {
    position: absolute;
    width: 100vw;
    top:42.5vh;
    left:0vw;
}
.mlogo{
    height:15vh;
    width: 30vw;
}
.mmachine1{
    position:absolute;
    width: 23vw;
    height: 15vh; 
    left: 3vw;
    top: 15.5vh;
    transform: rotate(270deg);
}
.mmachine0{
    position:absolute;
    width: 23vw;
    height: 15vh; 
    left:3vw;
    top:27.5vh;
    transform: rotate(270deg);
}
.mmachine2{
    position:absolute;
    width: 23vw;
    height: 15vh; 
    left: 33vw;
    top:0vh;
}
.mmachine3{
    position:absolute;
    width: 23vw;
    height: 15vh;   
    left:55.5vw;
    top:0vh;
}
.mmachine4{
    position:absolute;
    width: 23vw;
    height: 15vh; 
    left:0vw;
    top:45vh;
}
.mmachine5{
    position:absolute;
    width: 23vw;
    height: 15vh; 
    left:22.5vw;
    top:45vh;
}
.mmachine6{
    position:absolute;
    width: 23vw;
    height: 15vh; 
    left:45vw;
    top:45vh;
}
.mmachine7{
    position:absolute;
    width: 23vw;
    height: 15vh; 
    left:32vw;
    top:68vh;
}
.mmachine8{
    position:absolute;
    width: 23vw;
    height: 15vh; 
    left:54.5vw;
    top:68vh;
}
.mmachine9{
    position:absolute;
    width: 23vw;
    height: 15vh; 
    left:77vw;
    top:68vh;
}
.minstruction{
    position:absolute;
    width: 70vw;
    height: 20vh; 
    left: 28vw;
    top: 18.5vh;
}